::-webkit-scrollbar {
    width: 0;
  }

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.pageActive {
    display: inline-block;
    margin: 0 5px;
    color: #007c3f;
    font-weight: 700;
    text-decoration: underline;
}

.pageNumber {
    display: inline-block;
    margin: 0 5px;
    color: black;
    cursor: pointer;
    font-weight: 400;
}

.paginator {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Gotham Pro';
    font-size: 18px;
    margin-bottom: 30px;
}