.label {
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 500;
}

.input {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 1px #007c3f solid;
    padding: 0 0 2px 0;
    margin: 10px 0 0 0;
    color: #007c3f;
}

.submitButton {
    font-family: 'Gotham Pro';
    font-size: 20px;
    font-weight: 700;
    height: 54px;
    width: 330px;
    border-radius: 100px;
    border: none;
    background-color: #007c3f;
    color: white;
    margin: 20px 0;
    cursor: pointer;
}

.contactRow {
    margin: 10px 0;
}
