.userAva {
    border-radius: 300px;
    width: 200px;
    transform: translateY(-100px);
    border: 10px white solid;
}

.profileWrapper {
    display: flex;
    flex-direction: row;
  }
  
  .profileInfoInner {
    padding-left: 10px;
    flex-grow: 5;
  }
  
  .profileName {
    font-family: 'Gotham Pro';
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 5px;
  }

  .profileStatus {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }